.gallery{
  padding:80px;
  text-align:center;
}

.gallery-title{
  font-size:36px;
  margin-bottom:40px;
}

.gallery-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}

.gallery-grid img{
  width:100%;
  height:250px;
  object-fit:cover;
  border-radius:10px;
  transition:0.4s;
}

.gallery-grid img:hover{
  transform:scale(1.1);
}