.hero{
  height:90vh;
  background-image:url("https://images.unsplash.com/photo-1618220179428-22790b461013");
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero-content{
  color:white;
  background:rgba(0,0,0,0.4);
  padding:40px;
  border-radius:10px;
}

.hero-content h1{
  font-size:50px;
  margin-bottom:20px;
}

.hero-content p{
  font-size:20px;
  margin-bottom:25px;
}

.hero-content button{
  padding:12px 25px;
  font-size:18px;
  border:none;
  background:#ff7eb3;
  color:white;
  border-radius:5px;
  cursor:pointer;
  transition:0.3s;
}

.hero-content button:hover{
  background:#ff4d88;
}